Repository 0chain/0chain, pull requests merged in 2022-02, with the labels that each got.

#854 Remove stake pool offers
  code/go/0chain.net/smartcontract/storagesc/alloation2_test.go
  code/go/0chain.net/smartcontract/storagesc/allocation.go
  code/go/0chain.net/smartcontract/storagesc/allocation_test.go
  code/go/0chain.net/smartcontract/storagesc/benchmark_setup.go
  code/go/0chain.net/smartcontract/storagesc/benchmark_tests.go
  code/go/0chain.net/smartcontract/storagesc/blobber_test.go
  code/go/0chain.net/smartcontract/storagesc/challenge.go
  code/go/0chain.net/smartcontract/storagesc/challenge_test.go
  code/go/0chain.net/smartcontract/storagesc/config.go
  code/go/0chain.net/smartcontract/storagesc/config_settigns.go
  code/go/0chain.net/smartcontract/storagesc/config_settings_test.go
  code/go/0chain.net/smartcontract/storagesc/free_allocation_test.go
  code/go/0chain.net/smartcontract/storagesc/helper_test.go
  code/go/0chain.net/smartcontract/storagesc/models.go
  code/go/0chain.net/smartcontract/storagesc/sc.go
  code/go/0chain.net/smartcontract/storagesc/stakepool.go
  code/go/0chain.net/smartcontract/storagesc/stakepool_test.go
  docker.local/config/sc.yaml
Labels: smart-contracts

#955 Ignore db settings
  code/go/0chain.net/smartcontract/minersc/globals.go
Labels: bug

#976 EventDB: Fetch curator list from curators table using allocation ID
  code/go/0chain.net/smartcontract/dbs/event/allocation_test.go
  code/go/0chain.net/smartcontract/dbs/event/curator.go
  code/go/0chain.net/smartcontract/dbs/event/curator_test.go
  code/go/0chain.net/smartcontract/storagesc/allocation.go
  code/go/0chain.net/smartcontract/storagesc/allocation_eventdb.go
Labels: Event database

#967 Stake pool rewards
  code/go/0chain.net/chaincore/chain/state/state_context.go
  code/go/0chain.net/smartcontract/dbs/event/process.go
  code/go/0chain.net/smartcontract/stakepool/collect_reward.go
  code/go/0chain.net/smartcontract/stakepool/eventdb.go
  code/go/0chain.net/smartcontract/stakepool/lock.go
  code/go/0chain.net/smartcontract/stakepool/stakepool.go
  code/go/0chain.net/smartcontract/stakepool/unlock.go
  code/go/0chain.net/smartcontract/stakepool/userstakepoolgo.go
  code/go/0chain.net/smartcontract/storagesc/README.md
  code/go/0chain.net/smartcontract/storagesc/alloation2_test.go
  code/go/0chain.net/smartcontract/storagesc/allocation.go
  code/go/0chain.net/smartcontract/storagesc/allocation_pool.go
  code/go/0chain.net/smartcontract/storagesc/allocation_test.go
  code/go/0chain.net/smartcontract/storagesc/balances_test.go
  code/go/0chain.net/smartcontract/storagesc/benchmark_setup.go
  code/go/0chain.net/smartcontract/storagesc/benchmark_tests.go
  code/go/0chain.net/smartcontract/storagesc/blobber.go
  code/go/0chain.net/smartcontract/storagesc/blobber2_test.go
  code/go/0chain.net/smartcontract/storagesc/blobber_integration_tests.go
  code/go/0chain.net/smartcontract/storagesc/blobber_main.go
  code/go/0chain.net/smartcontract/storagesc/blobber_test.go
  code/go/0chain.net/smartcontract/storagesc/block_reward.go
  code/go/0chain.net/smartcontract/storagesc/block_reward_test.go
  code/go/0chain.net/smartcontract/storagesc/challenge.go
  code/go/0chain.net/smartcontract/storagesc/challenge_test.go
  code/go/0chain.net/smartcontract/storagesc/challengepool.go
  code/go/0chain.net/smartcontract/storagesc/collect_reward.go
  code/go/0chain.net/smartcontract/storagesc/eventdb.go
  code/go/0chain.net/smartcontract/storagesc/functions.go
  code/go/0chain.net/smartcontract/storagesc/functions_test.go
  code/go/0chain.net/smartcontract/storagesc/helper_test.go
  code/go/0chain.net/smartcontract/storagesc/models.go
  code/go/0chain.net/smartcontract/storagesc/readpool.go
  code/go/0chain.net/smartcontract/storagesc/sc.go
  code/go/0chain.net/smartcontract/storagesc/stakepool.go
  code/go/0chain.net/smartcontract/storagesc/stakepool_test.go
  code/go/0chain.net/smartcontract/storagesc/validator.go
  code/go/0chain.net/smartcontract/storagesc/validator_eventdb.go
  code/go/0chain.net/smartcontract/storagesc/writepool.go
  docker.local/config/0chain.yaml
Labels: smart-contracts
