Repository 0chain/0chain, pull requests merged in 2022-04, with the labels that each got.

#1081 Ensure the integrity of the partial state from remote
  code/go/0chain.net/chaincore/block/block_state_change_entity.go
  code/go/0chain.net/chaincore/block/block_state_change_entity_test.go
  code/go/0chain.net/chaincore/block/block_summary_entity.go
  code/go/0chain.net/chaincore/block/entity.go
  code/go/0chain.net/chaincore/block/entity_test.go
  code/go/0chain.net/chaincore/block/magicBlock/main.go
  code/go/0chain.net/chaincore/block/state_debug.go
  code/go/0chain.net/chaincore/chain/entity.go
  code/go/0chain.net/chaincore/chain/n2n_handler.go
  code/go/0chain.net/chaincore/chain/n2n_handler_integration_tests.go
  code/go/0chain.net/chaincore/chain/protocol_lfb_ticket.go
  code/go/0chain.net/chaincore/chain/state_handler.go
  code/go/0chain.net/chaincore/chain/state_sync.go
  code/go/0chain.net/chaincore/client/client_test.go
  code/go/0chain.net/chaincore/client/entity.go
  code/go/0chain.net/chaincore/node/node.go
  code/go/0chain.net/chaincore/node/node_pool.go
  code/go/0chain.net/chaincore/node/self_node.go
  code/go/0chain.net/chaincore/state/partial_state.go
  code/go/0chain.net/chaincore/state/partial_state_internal_test.go
  code/go/0chain.net/chaincore/state/partial_state_test.go
  code/go/0chain.net/chaincore/state/state.go
  code/go/0chain.net/chaincore/state/state_nodes.go
  code/go/0chain.net/chaincore/transaction/entity.go
  code/go/0chain.net/chaincore/transaction/handler.go
  code/go/0chain.net/chaincore/transaction/transaction_confirmation_entity.go
  code/go/0chain.net/chaincore/transaction/transaction_test.go
  code/go/0chain.net/chaincore/wallet/wallet2localblockchain.go
  code/go/0chain.net/core/datastore/codec.go
  code/go/0chain.net/core/datastore/entity.go
  code/go/0chain.net/core/datastore/handler.go
  code/go/0chain.net/core/datastore/key.go
  code/go/0chain.net/core/memorystore/collection_test.go
  code/go/0chain.net/core/memorystore/store.go
  code/go/0chain.net/core/util/merkle_patricia_trie_test.go
  code/go/0chain.net/core/util/mpt_nodedb.go
  code/go/0chain.net/miner/miner/main.go
  code/go/0chain.net/miner/protocol_block.go
  code/go/0chain.net/miner/protocol_view_change.go
  code/go/0chain.net/sharder/sharder/main.go
  code/go/0chain.net/sharder/transaction.go
  code/go/0chain.net/smartcontract/minersc/dkg.go
Labels: bug, security

#1054 EventDB: allocation table integration test fix
  code/go/0chain.net/chaincore/smartcontract/handler_test.go
  code/go/0chain.net/smartcontract/dbs/event/allocation.go
  code/go/0chain.net/smartcontract/dbs/event/allocation_test.go
  code/go/0chain.net/smartcontract/dbs/event/blobber.go
  code/go/0chain.net/smartcontract/dbs/event/curator.go
  code/go/0chain.net/smartcontract/dbs/event/curator_test.go
  code/go/0chain.net/smartcontract/dbs/event/event_test.go
  code/go/0chain.net/smartcontract/dbs/event/eventdb.go
  code/go/0chain.net/smartcontract/dbs/event/process.go
  code/go/0chain.net/smartcontract/storagesc/allocation.go
  code/go/0chain.net/smartcontract/storagesc/allocation_eventdb.go
  code/go/0chain.net/smartcontract/storagesc/allocation_test.go
  code/go/0chain.net/smartcontract/storagesc/blobber.go
  code/go/0chain.net/smartcontract/storagesc/challenge.go
  code/go/0chain.net/smartcontract/storagesc/curator.go
  code/go/0chain.net/smartcontract/storagesc/curator_test.go
  code/go/0chain.net/smartcontract/storagesc/eventdb.go
  code/go/0chain.net/smartcontract/storagesc/free_allocation_test.go
  code/go/0chain.net/smartcontract/storagesc/handler.go
  code/go/0chain.net/smartcontract/storagesc/sc.go
Labels: Event database

#1212 Feature/move postres settings
  code/go/0chain.net/chaincore/chain/config.go
  docker.local/build.sharder/docker-compose.yml
  docker.local/config/0chain.yaml
Labels: enhancement, mainnet, config
